body {
    background-color: rgba(168, 167, 167, 0.226);
}
h3 {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: -10px;
}
.form-control {
    margin-top: -30px;
    padding: 25px;
    border-style: dashed;
    border-width: 2px;
    border-color: darkgray ;
    margin-bottom: -7px;
}
.main {
    padding: 25px;
}
h1 {
    margin-bottom: 100px;
    
}
.buttons {
    margin-top: -30px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    
}
